* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  background-color: #474747;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(84, 84, 84);
}

::-webkit-scrollbar-thumb {
  background: #9d9d9d;
  border-radius: 25px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #7a7ac7;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #7a7ac793;
}
button:hover,
label:hover {
  opacity: 0.8;
  cursor: pointer;
}
